# theme = "bogster"
theme = "jkx_tokyo"
# theme = "tokyonight_moon"
# theme = "boo_berry"

[editor]
color-modes = true
bufferline = "always"
cursorline = true
popup-border = "all"
true-color = true
# rulers=[100]
end-of-line-diagnostics = "disable"
# gutters = ["diagnostics", "spacer", "line-numbers", "spacer", "diff"]
gutters = ["spacer","diff", "diagnostics","spacer"]
completion-replace = true

[editor.inline-diagnostics]
cursor-line = "hint"
# other-lines = "error"

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = true

[editor.indent-guides]
render = false

[editor.statusline]
left = ["mode", "spinner", "version-control", "file-name", "read-only-indicator"]
right = ["diagnostics", "selections", "register", "position", "total-line-numbers", "file-type"]
separator = " >"


[editor.lsp]
auto-signature-help = false
display-messages = true
display-inlay-hints = false # disable by default but can be enable w/ c-t


[keys.normal]
C-r = ":rla"
C-s = ":w"
C-q = ":q!"
C-x = ":buffer-close"
C-p = "file_picker_in_current_directory"

C-v = "paste_before"

C-h = "hover"
C-u = "goto_reference"
C-y = "goto_definition"

# navigation
C-down = "goto_next_paragraph"
C-up = "goto_prev_paragraph"
C-right = "move_next_word_start"
C-left = "move_prev_word_end"

C-a ="goto_line_start"
C-e ="goto_line_end"

C-k = "half_page_down"
C-i = "half_page_up"

# windows
C-pagedown = ":buffer-next"
C-pageup = ":buffer-previous"
"C-/" = ":sh kitty @ launch --cwd=current --no-response  --type=window"

# selection 
"C-." = "expand_selection"  # original alt-o / alt-i => collide w/ zellij
"C-," = "shrink_selection"

# A voir par la suite
C-b = ":echo %sh{git blame -L %{cursor_line},+1 %{buffer_name}}"

[keys.insert]
C-s = ":w"
C-q = ":q!"
C-v = "paste_before"
C-c = "toggle_comments" 

C-h = "hover"
C-u = "goto_reference"
C-y = "goto_definition"

# navigation
C-right = "move_next_word_start"
C-left = "move_prev_word_end"
C-a ="goto_line_start"
C-e ="goto_line_end"

# windows
C-pagedown = ":buffer-next"
C-pageup = ":buffer-previous"
C-space = "completion"

[keys.select]
C-a ="goto_line_start"
C-e ="goto_line_end"

# create a new minor mode bound to 'r'
[keys.normal."r"]
# s = ":sh kitty @ launch --cwd=current  --type=overlay-main --no-response"
m = ":sh kitty @ launch --cwd=current --no-response  --type=window make"
c = [":sh kitty @ launch --cwd=current --no-response  --type=overlay-main copilot -i 'Lis le fichier %{buffer_name}' ",":rla",":redraw"]
g = [":sh kitty @ launch --cwd=current --no-response  --type=overlay-main lazygit",":rla",":redraw"]
j = ":open %sh{daily_journal}"


[keys.normal."t"]
h = ":toggle-option lsp.display-inlay-hints"
a = ":toggle-option auto-format"
t = ":set-language bash"
